<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Rent</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div th:insert="~{header :: copy}"></div>

    <div class="rent bg-main">

        <!-- TODO: 
            Filter auslagern -->
        <div class="container-fluid">
            <div class="row">

                <div class="col-2 mt-4" th:insert="~{filter :: copy(model=${carFilter})}"></div>

                <div class="col-10 mt-4">
                    <div th:switch="${productTypes}">
                        <div th:case="null">
                            <span>Keine Produkte gefunden</span>
                        </div>
                        <div th:case="*">
                            <div th:each="product : ${productTypes}">
                                <div th:insert="~{car-template :: copy(${product})}"></div>
                            </div>
                        </div>
                    </div>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- FOOTER-->
        <div th:insert="~{footer :: copy}"></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>

</html>