<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="bg-main">

    <div th:insert="~{header :: copy}"></div>

    <br>

    <div class="container">
        <h3 class="text-white">Porsche 918 Spyder</h3>
        <br>
        <div class="cardbox">
            <div class="cardbox-body">
                <div class="row">
                    <div class="col-lg-6">
                        <img th:src="@{/img/porsche-spyder.jpg}" class="w-100" alt="...">
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-6 p-4">
                                <table class="table-car">
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>
                                                <b>Farbe</b>
                                            </td>
                                            <td class="pl-2">Silber</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>
                                                <b>Leistung</b></td>
                                            <td class="pl-2">887 PS</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>
                                                <b>Motor</b></td>
                                            <td class="pl-2">4,6 Liter v8</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>
                                                <b>Antrieb</b></td>
                                            <td class="pl-2">Allrad</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>
                                                <b>0 - 100</b></td>
                                            <td class="pl-2">2,6 s</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>
                                                <b>Getriebe</b></td>
                                            <td class="pl-2">Automatik</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>
                                                <b>Jahr</b></td>
                                            <td class="pl-2">2014</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>
                                                <b>Sitze</b></td>
                                            <td class="pl-2">2</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>
                                                <b>Mindestalter</b></td>
                                            <td class="pl-2">25</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-6 p-4">
                                <div class="row">
                                    <div class="span12">
                                        <table class="table-condensed table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th colspan="7">
                                                        <span class="btn-group">
                                                            <a class="btn"><i class="icon-chevron-left"></i></a>
                                                            <a class="btn active">February 2012</a>
                                                            <a class="btn"><i class="icon-chevron-right"></i></a>
                                                        </span>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>Su</th>
                                                    <th>Mo</th>
                                                    <th>Tu</th>
                                                    <th>We</th>
                                                    <th>Th</th>
                                                    <th>Fr</th>
                                                    <th>Sa</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="muted">29</td>
                                                    <td class="muted">30</td>
                                                    <td class="muted">31</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>3</td>
                                                    <td>4</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>6</td>
                                                    <td>7</td>
                                                    <td>8</td>
                                                    <td>9</td>
                                                    <td>10</td>
                                                    <td>11</td>
                                                </tr>
                                                <tr>
                                                    <td>12</td>
                                                    <td>13</td>
                                                    <td>14</td>
                                                    <td>15</td>
                                                    <td>16</td>
                                                    <td>17</td>
                                                    <td>18</td>
                                                </tr>
                                                <tr>
                                                    <td>19</td>
                                                    <td class="btn-primary"><strong>20</strong></td>
                                                    <td>21</td>
                                                    <td>22</td>
                                                    <td>23</td>
                                                    <td>24</td>
                                                    <td>25</td>
                                                </tr>
                                                <tr>
                                                    <td>26</td>
                                                    <td>27</td>
                                                    <td>28</td>
                                                    <td>29</td>
                                                    <td class="muted">1</td>
                                                    <td class="muted">2</td>
                                                    <td class="muted">3</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="cardbox">
            <div class="cardbox-body text-center">
                <h5>
                    <a data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample">
                        <h5>
                            <i class="fa fa-angle-down"></i> Details <i class="fa fa-angle-down"></i>
                        </h5>
                    </a>
                </h5>
            </div>
            <div class="cardbox-body collapse" id="collapseExample">
                <div class="row">
                    <div class="col-2">
                        <p><b>Leistung</b><br>
                            887 PS</p>
                    </div>
                    <div class="col-2">
                        <p><b>Leistung</b><br>
                            887 PS</p>
                    </div>
                    <div class="col-2">
                        <p><b>Leistung</b><br>
                            887 PS</p>
                    </div>
                    <div class="col-2">
                        <p><b>Leistung</b><br>
                            887 PS</p>
                    </div>
                    <div class="col-2">
                        <p><b>Leistung</b><br>
                            887 PS</p>
                    </div>
                    <div class="col-2">
                        <p><b>Leistung</b><br>
                            887 PS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p><b>Leistung</b><br>
                            887 PS</p>
                    </div>
                    <div class="col-2">
                        <p><b>Leistung</b><br>
                            887 PS</p>
                    </div>
                    <div class="col-2">
                        <p><b>Leistung</b><br>
                            887 PS</p>
                    </div>
                    <div class="col-2">
                        <p><b>Leistung</b><br>
                            887 PS</p>
                    </div>
                    <div class="col-2">
                        <p><b>Leistung</b><br>
                            887 PS</p>
                    </div>
                    <div class="col-2">
                        <p><b>Leistung</b><br>
                            887 PS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- FOOTER-->
    <br>
    <br>
    <div th:insert="~{footer :: copy}"></div>



    <!-- SKRIPTE-->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>