<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="bg-main">

    <div th:insert="~{header :: copy}"></div>

    <br>

    <div class="container">
        <h3 class="text-white">Porsche 918 Spyder</h3>
        <br>
        <div class="cardbox">
            <div class="cardbox-body">
                <div class="row">
                    <div class="col-lg-6">
                        <img th:src="@{/img/porsche-spyder.jpg}" class="w-100" alt="...">
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-6">
                                <table class="table-car">
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>Farbe</td>
                                            <td>Silber</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>Leistung</td>
                                            <td>887 PS</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>Motor</td>
                                            <td>4,6 Liter v8</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>Antrieb</td>
                                            <td>Allrad</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>0 - 100</td>
                                            <td>2,6 s</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>Getriebe</td>
                                            <td>7-Gang-Automatik</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>Jahr</td>
                                            <td>2014</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>Sitze</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td>Mindestalter</td>
                                            <td>25</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- FOOTER-->
    <br>
    <br>
    <div th:insert="~{footer :: copy}"></div>



    <!-- SKRIPTE-->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>