/* -- MAIN CSS -- */

/* HAUPTSCHIFTART */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.main-ecr {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3em;
}

/* ICONS */
.fa {
    color:#ffffff;
    width: 1rem; 
    height: 1rem;
  }
  
  .fa:hover {
    opacity: 0.7;
  }


/* NAVIGATIONSLEISTE */

.nav-center {
  text-align: center;
  display: inline-block;
  float:none;
}

.navbar-brand-cars {
    text-align: center;
    color: white;
}

/* SUCHLEISTE */

.searchbox[type=text] {
  width: 400px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.searchbox[type=text]:focus {
  width: 600px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdownsearch {
  margin-left: 10px;
  background-color: rgb(81, 82, 102, 0.5);
}

/* MAP */

.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

/* FARBEN */

 :root {

  --main: #515266;
}

/* HINTERGRUND */

.bg-main {
  position: relative;
  background-image: url("/img/hintergrund.jpg");
  background-attachment: fixed;
  background-size: cover;
}


/* BUTTONS */


/* KATEGORIEN IM INDEX */

.jumbotron-sport {
  background-image: url("/img/sport.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 650px;
  border-radius: 0 !important;
}

.jumbotron-sportplus {
  background-image: url("/img/sportplus.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 650px;
  border-radius: 0 !important;
}

.jumbotron-luxus {
  background-image: url("/img/luxus.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 650px;
  border-radius: 0 !important;
}

.jumbotron-suv {
  background-image: url("/img/suv.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 650px;
  border-radius: 0 !important;
}

.overlay {
  position: absolute;
  transition: all .8s ease;
  opacity: 0;
  padding-top: 300px;
}

.category {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  border: 0px;
  max-width: 200px;
}

/* ---> Texte über den Kategorienbildern */

.jumbotron-sport:hover .overlay {
  opacity: 1;
}

.jumbotron-sportplus:hover .overlay {
  opacity: 1;
}

.jumbotron-suv:hover .overlay {
  opacity: 1;
}

.jumbotron-luxus:hover .overlay {
  opacity: 1;
}

/* KLEINE ANPASSUNGEN */

.text {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
}

footer {
  display: block;
  background-color: rgb(81, 82, 102, 0.5);
  color: white;
}

html {
  position: relative;
  min-height: 100%;
}

.links {
  color: white;
  text-decoration: none;
}

.links:hover {
  color: lightgray;
  text-decoration: none;
}

.row-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


/* KALENDER */

.calendar_link {
	font-size: 12px;
	text-align: center;
	text-decoration: none;
}

.calendar_head {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	width: 25px;
}

.calendar_head_month {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	width: 25px;
	background-color: rgba(81, 82, 102);
  
}

.calendar_day {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	width: 25px;

}

.calendar_entry {
	font-size: 12px;
  text-align: center;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 0px solid #fff !important;
  border-radius: 2rem;
}
@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-md-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-md-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-md-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-md-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-md-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-md-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-md-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-md-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-md-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-md-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-md-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-lg-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-lg-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-lg-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-lg-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-lg-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-lg-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-lg-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-lg-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-lg-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-lg-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-lg-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-lg-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-xl-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-xl-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-xl-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-xl-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-xl-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-xl-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-xl-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-xl-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-xl-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-xl-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-xl-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-xl-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-xl-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-xl-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}

/* EINZELNE ELEMENTE IN DER LISTENANSICHT */

.table-car {
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 14px;
}

td.col {
  line-height: 20px;
}

.table-car th,
.table-car td {
  vertical-align: top;
}

.table-car thead th {
  vertical-align: bottom;
}

.table-car tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-car-sm th,
.table-car-sm td {
  padding: 0.3rem;
}

.table-car-bordered {
  border: 1px solid #dee2e6;
}

.table-car-bordered th,
.table-car-bordered td {
  border: 1px solid #dee2e6;
}

.table-car-bordered thead th,
.table-car-bordered thead td {
  border-bottom-width: 2px;
}

.table-car-borderless th,
.table-car-borderless td,
.table-car-borderless thead th,
.table-car-borderless tbody + tbody {
  border: 0;
}

.table-car-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-car-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-car-primary,
.table-car-primary > th,
.table-car-primary > td {
  background-color: #b8daff;
}

.table-car-primary th,
.table-car-primary td,
.table-car-primary thead th,
.table-car-primary tbody + tbody {
  border-color: #7abaff;
}

.table-car-hover .table-car-primary:hover {
  background-color: #9fcdff;
}

.table-car-hover .table-car-primary:hover > td,
.table-car-hover .table-car-primary:hover > th {
  background-color: #9fcdff;
}

.table-car-secondary,
.table-car-secondary > th,
.table-car-secondary > td {
  background-color: #d6d8db;
}

.table-car-secondary th,
.table-car-secondary td,
.table-car-secondary thead th,
.table-car-secondary tbody + tbody {
  border-color: #b3b7bb;
}

.table-car-hover .table-car-secondary:hover {
  background-color: #c8cbcf;
}

.table-car-hover .table-car-secondary:hover > td,
.table-car-hover .table-car-secondary:hover > th {
  background-color: #c8cbcf;
}

.table-car-success,
.table-car-success > th,
.table-car-success > td {
  background-color: #c3e6cb;
}

.table-car-success th,
.table-car-success td,
.table-car-success thead th,
.table-car-success tbody + tbody {
  border-color: #8fd19e;
}

.table-car-hover .table-car-success:hover {
  background-color: #b1dfbb;
}

.table-car-hover .table-car-success:hover > td,
.table-car-hover .table-car-success:hover > th {
  background-color: #b1dfbb;
}

.table-car-info,
.table-car-info > th,
.table-car-info > td {
  background-color: #bee5eb;
}

.table-car-info th,
.table-car-info td,
.table-car-info thead th,
.table-car-info tbody + tbody {
  border-color: #86cfda;
}

.table-car-hover .table-car-info:hover {
  background-color: #abdde5;
}

.table-car-hover .table-car-info:hover > td,
.table-car-hover .table-car-info:hover > th {
  background-color: #abdde5;
}

.table-car-warning,
.table-car-warning > th,
.table-car-warning > td {
  background-color: #ffeeba;
}

.table-car-warning th,
.table-car-warning td,
.table-car-warning thead th,
.table-car-warning tbody + tbody {
  border-color: #ffdf7e;
}

.table-car-hover .table-car-warning:hover {
  background-color: #ffe8a1;
}

.table-car-hover .table-car-warning:hover > td,
.table-car-hover .table-car-warning:hover > th {
  background-color: #ffe8a1;
}

.table-car-danger,
.table-car-danger > th,
.table-car-danger > td {
  background-color: #f5c6cb;
}

.table-car-danger th,
.table-car-danger td,
.table-car-danger thead th,
.table-car-danger tbody + tbody {
  border-color: #ed969e;
}

.table-car-hover .table-car-danger:hover {
  background-color: #f1b0b7;
}

.table-car-hover .table-car-danger:hover > td,
.table-car-hover .table-car-danger:hover > th {
  background-color: #f1b0b7;
}

.table-car-light,
.table-car-light > th,
.table-car-light > td {
  background-color: #fdfdfe;
}

.table-car-light th,
.table-car-light td,
.table-car-light thead th,
.table-car-light tbody + tbody {
  border-color: #fbfcfc;
}

.table-car-hover .table-car-light:hover {
  background-color: #ececf6;
}

.table-car-hover .table-car-light:hover > td,
.table-car-hover .table-car-light:hover > th {
  background-color: #ececf6;
}

.table-car-dark,
.table-car-dark > th,
.table-car-dark > td {
  background-color: #c6c8ca;
}

/* COLLAPSE */

#collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }


/* TEASER */

.carousel-picture {
  height: 600px;
  width: 950px;
}

/* GRAUE BOXEN DESIGN */

.cardbox {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(81, 82, 102, 0.8);
  background-clip: border-box;
  border: 0px solid #fff;
  color: #ffffff;
  border-radius: 2rem;
}

a.cardbox:hover {
  text-decoration: none;
}

.categories {
  background-clip: border-box;
  color: #ffffff;
}

.cardbox > hr {
  margin-right: 0;
  margin-left: 0;
  box-sizing: content-box;
  overflow: visible;
  border: 1px solid rgb(255, 255, 255)!important;
}

.cardbox > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.cardbox > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.cardbox-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.cardbox-title {
  margin-bottom: 0.75rem;
  display: inline-block;
  font-size: 20px;
  color: white;
}

.cardbox-title:hover {
  margin-bottom: 0.75rem;
  display: inline-block;
  font-size: 20px;
  color: lightgray;
  text-decoration: none;
}

.cardbox-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.cardbox-text:last-child {
  margin-bottom: 0;
}

.cardbox-link:hover {
  text-decoration: none;
}

.cardbox-link + .cardbox-link {
  margin-left: 1.25rem;
}

.cardbox-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.cardbox-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.cardbox-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.cardbox-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.cardbox-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.cardbox-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.cardbox-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.cardbox-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.cardbox-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.cardbox-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.cardbox-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.cardbox-deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cardbox-deck .cardbox {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .cardbox-deck {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .cardbox-deck .cardbox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.cardbox-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cardbox-group > .cardbox {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .cardbox-group {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .cardbox-group > .cardbox {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .cardbox-group > .cardbox + .cardbox {
    margin-left: 0;
    border-left: 0;
  }
  .cardbox-group > .cardbox:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-img_own {
  margin-top: 10px;
  width: 250px;
  height: 150px;
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}


/* KATEGORIEN LEISTE LINKS FAHRZEUGE */

.list-group-wb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  color: #ffffff;
}

.list-group-wb-item-action {
  z-index: 1;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid white 2px;
}

.list-group-wb-item:hover, .list-group-wb-item-action, .list-group-wb-item-active {
  z-index: 1;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid white 2px;
}

li.main-item {
  border-bottom: solid white 2px;
  border: 1px;
  z-index: 999;
}

.list-group-item-wb:active {
  z-index: 1;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid white 2px;
}

.list-group-wb-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: rgb(81, 82, 102, 0.1);
  color: #fff;
}

.list-group-wb-item-sub {
  padding-left: 0.75 rem;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.list-group-item.disabled, .list-group-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
}

.list-group-wb-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.list-group-horizontal {
  -ms-flex-direction: row;
  flex-direction: row;
}

.list-group-horizontal .list-group-item {
  margin-right: -1px;
  margin-bottom: 0;
}

.list-group-horizontal .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
}

.list-group-horizontal .list-group-item:last-child {
  margin-right: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0;
}

@media (min-width: 576px) {
  .list-group-horizontal-sm {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .list-group-horizontal-sm .list-group-item {
    margin-right: -1px;
    margin-bottom: 0;
  }
  .list-group-horizontal-sm .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
  }
  .list-group-horizontal-sm .list-group-item:last-child {
    margin-right: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
  }
}

@media (min-width: 768px) {
  .list-group-horizontal-md {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .list-group-horizontal-md .list-group-item {
    margin-right: -1px;
    margin-bottom: 0;
  }
  .list-group-horizontal-md .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
  }
  .list-group-horizontal-md .list-group-item:last-child {
    margin-right: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
  }
}

@media (min-width: 992px) {
  .list-group-horizontal-lg {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .list-group-horizontal-lg .list-group-item {
    margin-right: -1px;
    margin-bottom: 0;
  }
  .list-group-horizontal-lg .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
  }
  .list-group-horizontal-lg .list-group-item:last-child {
    margin-right: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
  }
}

@media (min-width: 1200px) {
  .list-group-horizontal-xl {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .list-group-horizontal-xl .list-group-item {
    margin-right: -1px;
    margin-bottom: 0;
  }
  .list-group-horizontal-xl .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
  }
  .list-group-horizontal-xl .list-group-item:last-child {
    margin-right: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
  }
}

.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.list-group-flush .list-group-item:last-child {
  margin-bottom: -1px;
}

.list-group-flush:first-child .list-group-item:first-child {
  border-top: 0;
}

.list-group-flush:last-child .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.list-group-item-primary {
  color: #004085;
  background-color: #b8daff;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #004085;
  background-color: #9fcdff;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #004085;
  border-color: #004085;
}

.list-group-item-secondary {
  color: #383d41;
  background-color: #d6d8db;
}

.list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
  color: #383d41;
  background-color: #c8cbcf;
}

.list-group-item-secondary.list-group-item-action.active {
  color: #fff;
  background-color: #383d41;
  border-color: #383d41;
}

.list-group-item-success {
  color: #155724;
  background-color: #c3e6cb;
}

.list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
  color: #155724;
  background-color: #b1dfbb;
}

.list-group-item-success.list-group-item-action.active {
  color: #fff;
  background-color: #155724;
  border-color: #155724;
}

.list-group-item-info {
  color: #0c5460;
  background-color: #bee5eb;
}

.list-group-item-info.list-group-item-action:hover, .list-group-item-info.list-group-item-action:focus {
  color: #0c5460;
  background-color: #abdde5;
}

.list-group-item-info.list-group-item-action.active {
  color: #fff;
  background-color: #0c5460;
  border-color: #0c5460;
}

.list-group-item-warning {
  color: #856404;
  background-color: #ffeeba;
}

.list-group-item-warning.list-group-item-action:hover, .list-group-item-warning.list-group-item-action:focus {
  color: #856404;
  background-color: #ffe8a1;
}

.list-group-item-warning.list-group-item-action.active {
  color: #fff;
  background-color: #856404;
  border-color: #856404;
}

.list-group-item-danger {
  color: #721c24;
  background-color: #f5c6cb;
}

.list-group-item-danger.list-group-item-action:hover, .list-group-item-danger.list-group-item-action:focus {
  color: #721c24;
  background-color: #f1b0b7;
}

.list-group-item-danger.list-group-item-action.active {
  color: #fff;
  background-color: #721c24;
  border-color: #721c24;
}

.list-group-item-light {
  color: #818182;
  background-color: #fdfdfe;
}

.list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
  color: #818182;
  background-color: #ececf6;
}

.list-group-item-light.list-group-item-action.active {
  color: #fff;
  background-color: #818182;
  border-color: #818182;
}

.list-group-item-dark {
  color: #1b1e21;
  background-color: #c6c8ca;
}

.list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
  color: #1b1e21;
  background-color: #b9bbbe;
}

.list-group-item-dark.list-group-item-action.active {
  color: #fff;
  background-color: #1b1e21;
  border-color: #1b1e21;
}


@media print {


  .table-car {
    border-collapse: collapse !important;
  }
  .table-car td,
  .table-car th {
    background-color: #fff !important;
  }
  .table-car-bordered th,
  .table-car-bordered td {
    border: 1px solid #dee2e6 !important;
  }
  .table-car-dark {
    color: inherit;
  }
  .table-car-dark th,
  .table-car-dark td,
  .table-car-dark thead th,
  .table-car-dark tbody + tbody {
    border-color: #dee2e6;
  }
  .table-car .thead-dark th {
    color: inherit;
    border-color: #dee2e6;
  }
}

.details-content {
  min-height: 83vh;
}

/*# sourceMappingURL=bootstrap.css.map */

/*!
BOOTSTRAP
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
