<div class="cardbox mb-3 p-4" th:fragment="copy (product)">
  <div class="row no-gutters">
    <div class="col-3">
      <a th:href="@{${product.id}}">
        <img th:src="@{/img/mclaren.jpg}" class="card-img" alt="...">
      </a>
    </div>

    <div class="col-9 rechter-teil">
      <div class="cardbox-body">
        <h4 class="cardbox-title pb-2 pl-4"
          th:text="${product.ecBrandByBrandId.brandTitle} + ' ' + ${product.model} + ' ' + ${product.variant}"></h4>
        <div class="row-card">
          <div class="col-6 pl-4 tabelle">
            <table class="table-car">
              <tbody>
                <tr scope="row">

                  <td>
                    <i class="fa fa-motorcycle"></i>
                  </td>

                  <td th:text="${product.powerPs} + ' PS'"></td>

                  <td>
                    <i class="fa fa-paint-brush"></i>
                  </td>

                  <td th:text="${product.bodyColor}"></td>
                </tr>

                <tr scope="row">

                  <td>
                    <i class="fa fa-battery-three-quarters"></i>
                  </td>

                  <td th:text="${product.engine}"></td>

                  <td>
                    <i class="fa fa-flag"></i>
                  </td>

                  <td th:text="${product.ecCategoryByCategoryId.title}"></td>
                </tr>

                <tr scope="row">

                  <td>
                    <i class="fa fa-tachometer"></i>
                  </td>

                  <td th:text="${product.gearingType}"></td>

                  <td>
                    <i class="fa fa-bolt"></i>
                  </td>

                  <td th:text="${product.driveSystem}"></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-4 preis-buttons">
            <div>
              <button type="button" class="btn btn-light" th:id="200button + ${product.id}" th:onclick="|price_function(this, '${product.id}')|">>200km</button>
              <button type="button" th:id="500button + ${product.id}" class="btn btn-light" th:onclick="|price_function(this, '${product.id}')|">>500km</button>
            </div>
            <div class="col">
              <button type="button" th:id="1000button + ${product.id}"class="btn btn-light ml-4 mt-1" th:onclick="|price_function(this, '${product.id}')|">>1000km</button>
            </div>
          </div>

          <div class="col-2 preis text-center">
            <p>Ab
              <strong th:id="200km + ${product.id}" >1000,- €</strong>
              <strong th:id="500km + ${product.id}" style=" display:none">1500,- €</strong>
              <strong th:id="1000km + ${product.id}" style=" display:none">2000,- €</strong>
              pro Tag</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
              <!-- <script th:inline="javascript">
                  /*<![CDATA[*/
                  function price1_function() {
                    var x = document.getElementById("200km".concat('+ ${product.id}"'));
                    var y = document.getElementById("500km".concat('[[${product.id}]]'));
                    var z = document.getElementById("1000km".concat('[[${product.id}]]'));
                    if (x.style.display === "none") {
                      x.style.display = "block";
                      y.style.display = "none";
                      z.style.display = "none";
                    }
                  };
  
  
                  function price2_function() {
                    var x = document.getElementById("200km".concat('[[${product.id}]]'));
                    var y = document.getElementById("500km".concat('[[${product.id}]]'));
                    var z = document.getElementById("1000km".concat('[[${product.id}]]'));
                    if (y.style.display === "none") {
                      x.style.display = "none";
                      y.style.display = "block";
                      z.style.display = "none";
                    }
                  }
  
                  function price3_function() {
                    var x = document.getElementById("200km".concat('[[${product.id}]]'));
                    var y = document.getElementById("500km".concat('[[${product.id}]]'));
                    var z = document.getElementById("1000km".concat('[[${product.id}]]'));
                    if (z.style.display === "none") {
                      x.style.display = "none";
                      y.style.display = "none";
                      z.style.display = "block";
                    }
                  }
  /*]]>*/
                </script> -->
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>