<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

  <a href="#" class="cardbox mb-3 mh-250" th:fragment="copy (product)">
    <div class="row no-gutters">
      <div class="col-md-3 p-2">
        <img th:src="@{/img/mclaren.jpg}" class="card-img" alt="...">
      </div>
      <div class="col">
        <div class="cardbox-body">
          <h4 class="cardbox-title pb-3 pl-3"
            th:text="${product.ecBrandByBrandId.brandTitle} + ' ' + ${product.model} + ' ' + ${product.variant}"></h4>
          <div class="row-card">
            <div class="col-5">
              <table class="table-car">
                <tbody>
                  <tr scope="row">

                    <td class="col-1">
                      <i class="fa fa-motorcycle"></i>
                    </td>

                    <td class="col-5" th:text="${product.powerPs} + ' PS'"></td>

                    <td class="col-1">
                      <i class="fa fa-paint-brush"></i>
                    </td>

                    <td class="col-5" th:text="${product.bodyColor}"></td>
                  </tr>

                  <tr scope="row">

                    <td class="col-1">
                      <i class="fa fa-battery-three-quarters"></i>
                    </td>

                    <td class="col-5" th:text="${product.engine}"></td>

                    <td class="col-1">
                      <i class="fa fa-flag"></i>
                    </td>

                    <td class="col-5" th:text="${product.ecCategoryByCategoryId.title}"></td>
                  </tr>

                  <tr scope="row">

                    <td class="col-1">
                      <i class="fa fa-tachometer"></i>
                    </td>

                    <td class="col-5" th:text="${product.gearingType}"></td>

                    <td class="col-1">
                      <i class="fa fa-bolt"></i>
                    </td>

                    <td class="col-5" th:text="${product.driveSystem}"></td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="col-3">
              <div>
                <button type="button" class="btn btn-light preis1" id="preis1">>200km</button>
                <button type="button" class="btn btn-light" id="500">>500km</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-light ml-4 mt-1" id="1000">>1000km</button>
              </div>
            </div>
            <div class="col-4 text-center">
              <h4>Ab <strong id="price">1000,- €</strong> pro Tag</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

  <script>

    $("#preis1").mouseover(function () {
      $('#price').text("");
    });

  </script>
</body>

</html>