<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body class="bg-main">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <nav class="navbar navbar-expand-lg navbar-dark w-100 bg-main pt-4 pb-2" th:fragment="copy">
        <div class="container-fluid row">

            <!-- Linke Elemente-->
            <ul class="nav navbar-nav mr-auto">
                <div class="dropdown mr-1">
                    <li class="nav-item">
                        <button class="btn" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false"
                            id="dropdownMenuOffset" data-offset="10,20" aria-controls="nav-collapse3">
                            <i class="fa fa-search p-0"></i>
                        </button>
                        <div class="dropdown-menu dropdownsearch p-2" style="  background-color: rgb(81, 82, 102, 0.5);" aria-labelledby="dropdownMenuOffset">
                            <form id="search-form" role="search" th:action="@{/products/search}" method="get">
                                <div class="form-group">
                                    <input type="text" name="searchfor" class="form-control searchbox m-2" placeholder="Fahrzeug suchen" />
                                </div>
                            </form>
                        </div>
                    </li>
                </div>

                <!--RENT-Block-->
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/products/list}">Fahrzeuge</a>
                </li>
            </ul>

            <!-- 
                    ÜBERSCHRIFT
                    DIV, damit Element zentriert werden kann-->
            <div class="nav-item mx-auto pt-2">
                <a class="navbar-brand mx-auto" th:href="@{/index}">
                    <h3 class="main-ecr">EXCLUSIVE CAR RENTAL</h3>
                </a>
            </div>

            <!-- Rechte Elemente-->
            <ul class="nav navbar-nav ml-auto">

                <!-- DROPDOWN LOGIN-->
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/users/register}">Registrierung</a>
                </li>
                <li class="nav-item text-white mt-2">
                    |
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" sec:authorize="anonymous" th:href="@{/users/login}">Login</a>
                    <a class="nav-link text-white" sec:authorize="hasRole('ADMIN')" th:href="@{/users/logout}">
                        <span th:text="${#httpServletRequest.remoteUser}"></span>
                        Logout</a>

                </li>

                <!--<li class="nav-item">
                    <button class="btn" style="width: 3rem; height: 3rem;" type="button" data-toggle="collapse"
                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-bars p-2" style="color:#CBBEB5"></i>
                    </button>
                </li>-->
            </ul>
        </div>

    </nav>

    <!-- SKRIPTE-->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>