<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div class="pos-f-t border-bottom border-inverse w-100 border-thick" th:fragment="copy">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">

                <!-- Linke Elemente-->
                <ul class="nav navbar-nav">

                    <!--RENT-Block-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/rent}">Rent</a>
                    </li>
                </ul>

                <!-- 
                    ÜBERSCHRIFT
                    DIV, damit Element zentriert werden kann-->
                <div class="nav-item">
                    <a class="navbar-brand text-center" th:href="@{/index}">EXCLUSIVE CAR RENTAL</a>
                </div>

                <!-- Rechte Elemente-->
                <ul class="nav navbar-nav">

                    <!-- DROPDOWN LOGIN-->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                        <div class="dropdown-menu dropdown-menu-right bg-dark text-white">
                            <form class="px-2 py-1">
                                <div class="form-group">
                                    <label for="exampleDropdownFormEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleDropdownFormEmail1"
                                        placeholder="email@example.com">
                                </div>
                                <div class="form-group">
                                    <label for="exampleDropdownFormPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleDropdownFormPassword1"
                                        placeholder="Password">
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                    <label class="form-check-label" for="dropdownCheck">
                                        Remember me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-white" th:href="@{/login}">New around here? Sign up</a>
                            <a class="dropdown-item" href="#">Forgot password?</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a button class="nav-link" th:href="@{/rent}">Menu</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- SKRIPTE-->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>