<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="bg-main">

    <div th:insert="~{header :: copy}"></div>

    <br>

    <!-- KATEGORIEN START-->

    <div class="container col-11">
        <div class="row pt-2">
            <a th:href="@{../products/products.html}" class="col-lg-3 col-md-6 p-0" id="jumbo-porsche">
                <div class="jumbotron jumbotron-porsche">
                    <div class="overlay">
                        <div class="row">
                            <div class="col-12 text category p-4">
                                <h1>Sport</h1>
                                <br>
                                <p class="text-white">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut<br>
                                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                                    nostrud exerci tation
                                    ullamcorper
                                </p>
                                <br>
                                <button class="btn btn-secondary">
                                    Kategorie anzeigen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-lg-3 col-md-6 p-0" id="jumbo-benzer">
                <div class="jumbotron jumbotron-benzer">
                    <div class="overlay">
                        <div class="row">
                            <div class="col-12 text category p-4">
                                <h1>Sport +</h1>
                                <br>
                                <p class="text-white">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut<br>
                                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                                    nostrud exerci tation
                                    ullamcorper
                                </p>
                                <br>
                                <button class="btn btn-secondary">
                                    Kategorie anzeigen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-lg-3 col-md-6 p-0" id="jumbo-bmw">
                <div class="jumbotron jumbotron-bmw">
                    <div class="overlay">
                        <div class="row">
                            <div class="col-12 text category p-4">
                                <h1>SUV</h1>
                                <br>
                                <p class="text-white">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut<br>
                                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                                    nostrud exerci tation
                                    ullamcorper
                                </p>
                                <br>
                                <button class="btn btn-secondary">
                                    Kategorie anzeigen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-lg-3 col-md-6 p-0" id="jumbo-maserati">
                <div class="jumbotron jumbotron-maserati">
                    <div class="overlay">
                        <div class="row">
                            <div class="col-12 text category p-4">
                                <h1>Luxus</h1>
                                <br>
                                <p class="text-white">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut<br>
                                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                                    nostrud exerci tation
                                    ullamcorper
                                </p>
                                <br>
                                <button class="btn btn-secondary">
                                    Kategorie anzeigen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <br>
    
    <div class="container pt-2 col-11">
        <h2 class="text-light">Unsere Highlights</h2>
        <hr>
    </div>

    <div class="container col-11 mt-4">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <a href="#" class="carousel-item active">
                    <img th:src="@{img/porsche.jpg}" class="d-block w-100 carousel-picture">
                    <div class="carousel-caption">
                        <h3>Porsche</h3>
                        <p>We had such a great time in LA!</p>
                    </div>
                </a>
                <a href="#" class="carousel-item">
                    <img th:src="@{img/bmw.jpg}" class="d-block w-100 carousel-picture">
                    <div class="carousel-caption">
                        <h3>BMW</h3>
                        <p>Thank you, Chicago!</p>
                    </div>
                </a>
                <a href="#" class="carousel-item">
                    <img th:src="@{img/maserati.jpg}" class="d-block w-100 carousel-picture">
                    <div class="carousel-caption">
                        <h3>Maserati</h3>
                        <p>We love the Big Apple!</p>
                    </div>
                </a>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    </div>
    <br>

    <div class="container col-11">
        <!-- <h2 class="text-light"></h2>
        <hr> -->
        <div class="cardbox mt-4 p-4">
            <h2 class="text-light">Über uns</h2>
            <hr>
            <br>
            <p class="text-light text-center">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                dolor
                in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
                at
                vero et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
                dolore
                te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                <br>
                <br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                dolor
                in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
                nonummy
                nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
                autem
                vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
                feugiat nulla facilisis at vero et accumsan et iusto odio dignissim qui blandit praesent luptatum
                zzril
                delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend
                option
                congue nihil imperdiet doming id quod mazim placerat facer possim assum.i hate arsu not
            </p>
            <hr>
            <br>
            <h2 class="text-light">Anfahrt</h2>
            <br>
            <div class="container col-11">
                <div id="map-container-google-1" class="z-depth-1-half map-container ">
                    <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                        style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <br>
            <br>
            <div>
                
                <h2 class="text-light"> Beschreibung der Anfahrt</h2>
                <hr>
                <br>
                <p class="text-light text-center">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                    dolor
                    in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
                    at
                    vero et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
                    dolore
                    te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                    dolor
                    in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
                    nonummy
                    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                    quis
                    nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
                    autem
                    vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
                    feugiat nulla facilisis at vero et accumsan et iusto odio dignissim qui blandit praesent luptatum
                    zzril
                    delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend
                    option
                    congue nihil imperdiet doming id quod mazim placerat facer possim assum.i hate arsu not
                </p>
                <hr>
                <div>
                    <!-- SOCIAL MEDIA-Block -->
                    <div class="container socialmedia text-center">
                            <span>
                                <a href="#" class="fa fa-instagram"></a>
                            </span>
                            <span>
                                <a href="#" class="fa fa-facebook"></a>
                            </span>
                            <span>
                                <a href="#" class="fa fa-linkedin"></a>
                            </span>
                            <span>
                                <a href="#" class="fa fa-twitter"></a>
                            </span>
                        </div>
                </div>
            </div>
        </div>
    </div>
 
    <br>
    <br> 

    <!-- FOOTER-->
    <br></br>
    <div th:insert="~{footer :: copy}"></div>



    <!-- SKRIPTE-->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script>
        $(".jumbotron-porsche").mouseover(function () {
            $('#jumbo-porsche').removeClass('col-lg-3');
            $('#jumbo-porsche').addClass('col-lg-12')
            $('#jumbo-benzer').hide();
            $('#jumbo-bmw').hide();
            $('#jumbo-maserati').hide();
            $("#sport").show();
        });
        $(".jumbotron-porsche").mouseout(function () {
            $('#jumbo-porsche').addClass('col-lg-3');
            $('#jumbo-porsche').removeClass('col-lg-12');
            $('#jumbo-benzer').show();
            $('#jumbo-bmw').show();
            $('#jumbo-maserati').show();
            $('#jumbo-porsche')
            $("#sport").text("");
        });

        $(".jumbotron-benzer").mouseover(function () {
            $('#jumbo-benzer').removeClass('col-lg-3');
            $('#jumbo-benzer').addClass('col-lg-12');
            $('#jumbo-porsche').hide();
            $('#jumbo-bmw').hide();
            $('#jumbo-maserati').hide();
            $("#sportplus").text("Sport +");
        });
        $(".jumbotron-benzer").mouseout(function () {
            $('#jumbo-benzer').addClass('col-lg-3');
            $('#jumbo-benzer').removeClass('col-lg-12');
            $('#jumbo-porsche').show();
            $('#jumbo-bmw').show();
            $('#jumbo-maserati').show();
            $("#sportplus").text("");
        });

        $(".jumbotron-bmw").mouseover(function () {
            $('#jumbo-bmw').removeClass('col-lg-3');
            $('#jumbo-bmw').addClass('col-lg-12');
            $('#jumbo-porsche').hide();
            $('#jumbo-benzer').hide();
            $('#jumbo-maserati').hide();
            $("#suv").text("SUV");
        });
        $(".jumbotron-bmw").mouseout(function () {
            $('#jumbo-bmw').addClass('col-lg-3');
            $('#jumbo-bmw').removeClass('col-lg-12');
            $('#jumbo-porsche').show();
            $('#jumbo-benzer').show();
            $('#jumbo-maserati').show();
            $("#suv").text("");
        });

        $(".jumbotron-maserati").mouseover(function () {
            $('#jumbo-maserati').removeClass('col-lg-3');
            $('#jumbo-maserati').addClass('col-lg-12');
            $('#jumbo-bmw').hide();
            $('#jumbo-porsche').hide();
            $('#jumbo-benzer').hide();
            $("#luxus").text("Luxus");
        });
        $(".jumbotron-maserati").mouseout(function () {
            $('#jumbo-maserati').addClass('col-lg-3');
            $('#jumbo-maserati').removeClass('col-lg-12');
            $('#jumbo-bmw').show();
            $('#jumbo-porsche').show();
            $('#jumbo-benzer').show();
            $("#luxus").text("");
        });



    </script>

</body>

</html>