<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Login page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-main">

    <div th:insert="~{header :: copy}"></div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="cardbox">
                    <div class="card-body">
                        <h5 class="card-title text-center">Registrierung</h5>
                        <div class="carbox-body text-center p-2">
                            Willkommen bei Exclusiv Car Rentals! Bitte geben Sie Ihre Mailadresse ein und
                            wählen Sie ein Passwort, um Ihre Registrierung abzuschließen.
                        </div>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <label for="inputEmail">E-Mail</label>
                                <input type="email" id="inputEmail" class="form-control" placeholder="E-Mail"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required autofocus>
                            </div>

                            <div class="form-label-group pt-4">
                                <label for="inputPassword">Passwort
                                    <small>(Mind 8 Zeichen, mind. eine Zahl, ein Groß- und ein
                                        Kleinbuchstabe)</small></label>
                                <input type="password" id="inputPassword" class="form-control" placeholder="Passwort"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                            </div>

                            <!--TODO: vorlage löschen-->
                            <form action="#" th:action="@{/users/update/{id}(id=${student.id})}"
                                th:object="${student}" method="post">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="name" class="col-form-label">Name</label> <input type="text"
                                            th:field="*{name}" class="form-control" id="name" placeholder="Name"> <span
                                            th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label for="email" class="col-form-label">Email</label> <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email"> <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label for="phoneNo" class="col-form-label">Phone No</label> <input type="text" th:field="*{phoneNo}" class="form-control" id="phoneNo" placeholder="phoneNo"> <span th:if="${#fields.hasErrors('phoneNo')}" th:errors="phoneNo" class="text-danger"></span>
        </div>

        <div class="form-group col-md-8">
            <input type="submit" class="btn btn-primary" value="Update Student">
        </div>
    </div>
</form>
<!--TODO: vorlage löschen-->


                            <div class="form-label-group pt-4">
                                <label for="inputPassword" class="pt-2">Passwort wiederholen</label>
                                <input type="password" id="inputPassword" class="form-control"
                                    placeholder="Passwort wiederholen" required>
                            </div>
                            <br>
                            <button class="btn btn-lg btn-secondary btn-block" type="submit">Registrieren</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SKRIPTE-->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <br>
    <br>
    
    <!-- FOOTER-->
    <div class="fixed-bottom">
        <div th:insert="~{footer :: copy}"></div>
    </div>
</body>

</html>